body { 
	font-family:"Hermit", sans-serif; 
	text-align: left;
	color: #000000
}
h1{
	font-size: 35px;
    	color: green;
}
h2{
	font-size: 25px;
    	color: green;
	text-align: left;
}
img {
	max-width:70%;
	max-height:70%;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.sidenav {
	height: 100%;
	width: 260px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 180px;
	text-align: center;
    }
.sidenav a {
	padding: 10px 12px 6px 16px;
	text-decoration: none;
	font-size: 26px;
	color: green;
	display: block;	
    }
.sidenav a:hover {
    color: white;	
}
.main {
	margin-left: 260px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
p {
  color: red;
}
