html {
	scroll-behavior: smooth;
}
body { 
	margin: 60px;
	font-family:"Hermit", sans-serif; 
	text-align: left;
	color: #000000
}
table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
p {
	text-align: center;
	color: black;
}
h1{
	margin-bottom: 0px;
	font-size: 50px;
    	color: green;
	text-align: center;
}
h2{
	margin-top: 10px;
	font-size: 45px;
    	color: green;
}
h3{
	margin-top: 5px;
	margin-bottom: -25px;
	font-size: 22px;
    	color: black;
}

h4, h5, h6 {
	font-family: "Raleway";
	font-weight: 300;
	font-size: 30px;
	color: green;
	font-weight: bold;
}
text1{
	margin-top: 0;
	font-size: 22px;
	color: green;
	text-align: center;
}
text1_0{
	margin-top: 0;
	font-size: 30px;
	color: green;
	text-align: center;
}
div.d {
	text-align: justify;
	text-justify: inter-word;
} 
text2{
	text-align: center;
	font-size: 22px;
	color: black;
}
text3{
	font-size: 28px;
	color: black;
	text-align: right;
}


img {
	max-width:70%;
	max-height:70%;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

img-logo {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


.fwh-slide {
	margin-top: 200px;
	height: 100vh;
	box-sizing: border-box;
}
.btm-slide {
	height: 5vh;
	box-sizing: border-box;
}
.fwh-slide h1 {
	margin: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.sidenav {
	height: 100%;
	width: 260px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;	
	background-color: #111;
	overflow-x: hidden;
	padding-top: 180px;
	text-align: center;
    }
.sidenav a {

	padding: 10px 12px 6px 16px;
	text-decoration: none;
	font-size: 26px;
	color: green;
	display: block;
	margin: 10px;		
    }
.sidenav a:hover {
    color: white;
    text-decoration: underline;	
}
.sidenav a:visited {
    color: green;	
}
a:link, a:visited{
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover{
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

.column {
  float: left;
  width: 10%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.main {
	margin-left: 260px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 0px 10px;
	width: 80%;
	height: 50%;
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

